*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font-family: "Noto Sans Mono", sans-serif;
  overflow-x: hidden;
}
.img-wrapped {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.hero-logo {
  width: 18.7rem;
}
.hidden {
  display: none;
}
.blur {
  filter: blur(5px);
}
.hero {
  width: 100%;
  height: 100vh;
}
.hero-main {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.cursor {
  font-size: 3.4rem;
  font-weight: 800;
  position: absolute;
  top: 29rem;
}
.hero-main_left {
  height: 100%;
  background-size: cover;
  background-image: url(Assets/hero-left.png);
  background-repeat: no-repeat;
  padding-top: 25rem;
  text-align: right;
  flex: 1;
  animation: changeGradient 10s linear infinite;
}
@keyframes changeGradient {
  0% {
    background-image: linear-gradient(
        to right bottom,
        rgba(250, 79, 142, 0.85),
        rgba(250, 79, 142, 0.85)
      ),
      url(Assets/hero-left.png);
  }
  50% {
    background-image: linear-gradient(
        to right bottom,
        rgba(40, 238, 167, 0.85),
        rgba(40, 238, 167, 0.85)
      ),
      url(Assets/hero-left.png);
  }
  100% {
    background-image: linear-gradient(
        to right bottom,
        rgba(152, 100, 218, 0.85),
        rgba(152, 100, 218, 0.85)
      ),
      url(Assets/hero-left.png);
  }
}
.hero-main_left-pink {
  background-image: linear-gradient(
      to right bottom,
      rgba(250, 79, 142, 0.85),
      rgba(250, 79, 142, 0.85)
    ),
    url(Assets/hero-left.png);
}
.hero-main_left-green {
  background-image: linear-gradient(
      to right bottom,
      rgba(40, 238, 167, 0.85),
      rgba(40, 238, 167, 0.85)
    ),
    url(Assets/hero-left.png);
}
.hero-main_left-purple {
  background-image: linear-gradient(
      to right bottom,
      rgba(152, 100, 218, 0.85),
      rgba(152, 100, 218, 0.85)
    ),
    url(Assets/hero-left.png);
}
.hero-main_right {
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(35, 35, 35, 0.85),
      rgba(35, 35, 35, 0.85)
    ),
    url(Assets/hero-right.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25rem;
  text-align: left;
  flex: 1;
}
.left-content {
  margin-right: 5rem;
}
.right-content {
  margin-left: 5rem;
}
.hero-main_starter {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 900;
  padding: 0 1rem;
}
.starter-left {
  background-color: #363738;
  color: #fff;
}
.starter-right {
  background-color: #fff;
  color: #363738;
}
.hero-main_heading {
  font-size: 3.6rem;
  font-weight: 900;
  margin-top: 1rem;
}
.heading-left {
  color: #363738;
}
.heading-right {
  color: #fff;
}
.hero-main_discription {
  font-size: 1.6rem;
  width: 75%;
  color: #fff;
  margin-top: 2rem;
}
.description-left {
  width: 88%;
  margin-left: 10rem;
}

.description-right {
  width: 75%;
}
.hero-main_button {
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-top: 3rem;
  display: inline-block;
  font-weight: 800;
}
.button-left {
  color: #fff;
  background-color: #363738;
}

.button-right {
  color: #363738;
  background-color: #fff;
}
.nav-showing {
  display: flex;
  gap: 100rem;
  position: absolute;
  top: 10%;
  left: 8%;
}
.hero-menu_button {
  background-color: #363738;
  border-radius: 8px;
  padding: 0.1rem 0.4rem;
  width: 4.8rem;
}

.menu-link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/**/
nav {
  background-color: #000;

  width: 100vw;
  height: 110vh;
  position: absolute;
  top: 0;
  animation: showslowly 0.2s ease-in;
  opacity: 0.95;
}
@keyframes showslowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}
.nav-sides {
  display: flex;
  justify-content: space-around;
  padding-top: 7rem;
}
.nav-bottomcard_img {
  width: 5rem;
}
.nav-left_links {
  list-style: none;
  font-size: 2.4rem;
  color: #a5a6a9;
  font-weight: 900;
}
.nav-left_links li:first-child {
  color: #28eea7;
  margin-top: 6.5rem;
}
.nav-left_links li {
  margin-bottom: 1.5rem;
}
.link a {
  cursor: pointer;
}
.nav-left_links li:hover {
  color: #fff;
}
.nav-left_links li:first-child:hover {
  color: #28eea7;
}
.nav-right {
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10rem;
}
.button-hidden {
  align-self: flex-end;
  margin-right: -4rem;
  cursor: pointer;
}
.nav-right_topcard {
  background-color: #363738;
  width: 60%;
  align-self: flex-end;
  padding: 4rem;
  border-radius: 10px;
  margin-top: 5rem;
}
.nav-card_title {
  font-size: 2.2rem;
  font-weight: 900;
  color: #fff;
}
.nav-card_note {
  font-size: 1.4rem;
  color: #a5a6a9;
  margin-top: 2rem;
}
.title-smalltag {
  color: #28eea7;
}
.nav-card_button {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 800;
  color: #363738;
}
.button-login {
  background-color: #28eea7;
  margin-top: 8rem;
}
.button-signup {
  background-color: #fff;
  margin-top: 1rem;
}
.nav-right_bottomcard {
  background-color: #31b7f0;
  display: flex;
  width: 60%;
  align-self: flex-end;
  padding: 2rem;
  border-radius: 10px;
  gap: 2rem;
}
.nav-bottomcard_img {
  width: 12rem;
}
.nav-bottomcard_text {
  align-self: center;
  color: #fff;
  width: 90%;
}
.nav-bottomcard_title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: capitalize;
}
.nav-bottomcard_description {
  font-size: 1.2rem;
  margin-top: 2rem;
  word-spacing: -4px;
}
.bottom-card_link {
  cursor: pointer;
}

.hero-logo a {
  cursor: pointer;
}
/*youtube*/
.youtube {
  background-color: #f1f2f3;
  width: 100%;
  padding-bottom: 7rem;
}
.section-intro {
  display: flex;
  justify-content: space-between;
  padding: 10rem;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83%;
  margin-left: 10rem;
}
.circles {
  display: flex;
  gap: 1rem;
}
.circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.circle-black {
  background-color: #363738;
}
.circle-grey {
  background-color: #dcdee1;
}
.circle-green {
  background-color: #28eea7;
}
.circle-white {
  background-color: #fff;
}
.section-intro_header {
  font-size: 2.4rem;
  font-weight: 900;
  color: #363738;
}
.section-intro_header span {
  margin-right: 1rem;
  display: inline-block;
}
iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.youtube-video {
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  border: 15px solid #28eea7;
  border-radius: 20px;
}
/*milestones section*/
.milestones-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 70%;
  margin: 0 auto;
}
.small-box,
.big-box {
  background-color: #f1f2f3;
  border-radius: 20px;
}
.small-box {
  padding: 2rem;
}
.big-box {
  grid-area: 1 / 1 / 3 / 2;
  padding: 5rem 5rem;
}
.box1 {
  grid-area: 1 / 2 / 2 / 3;
}
.box2 {
  grid-area: 1 / 3 / 2 / 4;
}
.box3 {
  grid-area: 2 / 2 / 3 / 3;
}
.box4 {
  grid-area: 2 / 3 / 3 / 4;
}
.box-number {
  font-size: 6.4rem;
  font-weight: 900;
  color: #363738;
  margin-left: 2rem;
}
.box-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 2rem;
}
.big-box_number {
  font-size: 12rem;
  text-align: left;
  font-weight: 900;
  color: #363738;
}
.big-box_title {
  font-size: 3.2rem;
  font-weight: 900;
  color: #363738;
  white-space: nowrap;
}
.big-box_description {
  list-style: none;
  text-align: left;
  font-size: 1.4rem;
  color: #363738;
  margin-top: 2rem;
}
.bold {
  font-weight: 800;
}
/*programs section*/
.header-programs,
.header-contact {
  padding: 1rem 2rem;
  background-color: #363738;
  color: #fff;
}
.programs {
  margin-top: 7rem;
  height: 100vh;
}
.navlist {
  display: flex;
  list-style: none;
  margin-left: 20rem;
}
.navlist-link {
  font-size: 1.6rem;
  font-weight: 900;
  padding: 1rem 5rem;
}
.nav-a {
  cursor: pointer;
}
.programs-cards {
  width: 75%;
  margin: 0 auto;
}
.programs-card {
  background-color: #363738;
  display: flex;
  padding: 3rem;
  border-radius: 10px;
  gap: 3rem;
  color: #fff;
  justify-content: space-around;
}

.programs-card_img {
  width: 30%;
}
.programs-card_img img {
  border-radius: 20px;
}
.programs-card_left {
  width: 70%;
  text-align: left;
}
.programs-card_title {
  font-size: 2.5rem;
  font-weight: 900;
}
.programs-card_info {
  font-size: 1.4rem;
  color: #dcdee1;
  margin-top: 1.5rem;
}
.programs-card_CTA {
  display: flex;
  gap: 2rem;
}

.programs-card_CTA {
  margin-top: 6rem;
  width: 100%;
}
.FCS-card .programs-card_CTA {
  margin-top: 10rem;
}
.programs-card_date {
  padding: 1rem 2rem;
  background-color: #232323;
  font-size: 1.4rem;
  width: 50%;
}
.programs-card_date span {
  color: #28eea7;
  font-weight: 900;
}
.programs-card_button {
  padding: 1rem 2rem;
  background-color: #232323;
  font-size: 1.4rem;
  text-align: right;
  font-weight: 900;
  width: 50%;
  text-transform: uppercase;
}
.programs-card_button a {
  text-decoration: none;
  color: #dcdee1;
}
.hide {
  display: none;
}
.FCS-date span {
  color: rgb(255, 198, 53);
}
.FCS-card h2 span {
  color: rgb(255, 198, 53);
}
.FSD-date span {
  color: rgb(152, 100, 218);
}
.FSD-card h2 span {
  color: rgb(152, 100, 218);
}
.UIX-date span {
  color: #fb508e;
}
.UIX-card h2 span {
  color: #fb508e;
}
.FSD-card .programs-card_img img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}
.UIX-card .programs-card_img img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.program-selected {
  background-color: #363738;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.FCS-color {
  color: rgb(255, 198, 53);
}
.FSD-color {
  color: rgb(152, 100, 218);
}
.FSW-color {
  color: #28eea7;
}
.UIX-color {
  color: #fb508e;
}
.FCS-backcolor {
  background-color: rgb(255, 198, 53);
}
.FSD-backcolor {
  background-color: rgb(152, 100, 218);
}
.FSW-backcolor {
  background-color: #28eea7;
}
.UIX-backcolor {
  background-color: #fb508e;
}

.card-animation {
  animation: cardshow 0.2s ease-in;
}
@keyframes cardshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}
/*section hire*/
.hire {
  background-color: #363738;
  padding-bottom: 7rem;
}
.hire .section-intro h3 {
  color: #fff;
}
.hire-box {
  width: 80%;
  padding: 3rem;
  background-color: #232323;
  margin: 0 auto;
  border-radius: 15px;
}
.hire-box h3 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 900;
}
.hire-box h4 {
  font-size: 1.6rem;
  color: #fff;
  padding: 1.5rem 2rem;
  background-color: #363738;
  margin-top: 2rem;
}
.hire-box h4 span {
  color: #28eea7;
  font-weight: 900;
}
.hire-list {
  list-style-type: decimal;
  font-size: 1.4rem;
  color: #fff;
  margin-left: 3.5rem;
  margin-top: 3rem;
}
.hire-box p {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 1rem;
}
.hire-button {
  display: inline-block;
  text-decoration: none;
  background-color: #363738;
  margin-top: 3rem;
  width: 100%;
  text-align: right;
  padding: 1.5rem 2rem;
  font-weight: 800;
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
}
.hr-box {
  width: 80%;
  padding: 3rem;
  background-color: #232323;
  display: flex;
  margin: 0 auto;
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  border-radius: 15px;
  margin-top: 3.5rem;
}
.hr-box_img {
  width: 13rem;
}
.hr-box h4,
.hr-box p {
  font-size: 2.2rem;
  font-weight: 300;
}
.hr-box h4 {
  word-spacing: -8px;
}
.hr-box p {
  word-spacing: 2px;
}
/*testimonials section*/
.testimonials {
  height: 150vh;
  background-color: #fff;
}
.testimonial-box {
  background-color: #363738;
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 3rem 0rem 3rem 5rem;
  color: #fff;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 1;
}

.testimonial-left_box {
  width: 60%;
}
.testimonial-right_box {
  width: 40%;
}
.testimonial-icon {
  width: 5rem;
}

.owner-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

blockquote {
  font-size: 1.6rem;
  margin-top: 2rem;
}
.testimonial-owner {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
cite {
  font-size: 1.8rem;
  font-weight: 900;
}
.owner p span {
  color: #28eea7;
  font-weight: 900;
}
.owner p {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.owner-img_big {
  border-radius: 20px;
  width: 35rem;
  margin-left: 1rem;
}
.special span {
  color: #28eea7;
}
.hide-t {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
}
.testimonial-all {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.t-slide {
  animation: slidein 0.5s ease-in;
}
.t-slide-out {
  animation: slideout 0.5s ease-in;
}
@keyframes slidein {
  0% {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;
  }
  10% {
    position: absolute;
    top: 0;
    right: -90%;
    z-index: 2;
  }
  20% {
    top: 0;
    right: -80%;
    z-index: 2;
  }
  30% {
    top: 0;
    right: -70%;
  }
  40% {
    top: 0;
    right: -60%;
  }
  50% {
    top: 0;
    right: -50%;
  }
  60% {
    top: 0;
    right: -40%;
  }
  70% {
    top: 0;
    right: -30%;
  }
  80% {
    top: 0;
    right: -20%;
  }
  90% {
    top: 0;
    right: -10%;
  }
  100% {
    top: 0;
    right: 0;
  }
}
@keyframes slideout {
  0% {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  10% {
    top: 0;
    left: -10%;
  }
  20% {
    top: 0;
    left: -20%;
  }

  60% {
    top: 0;
    left: -60%;
  }
  100% {
    top: 0;
    left: -100%;
  }
}

/* .t-showing {
  z-index: 1;
} */
.testimonials-circles {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 8rem;
}
.t-circle {
  height: 10px;
  width: 10px;
  cursor: pointer;
  background-color: rgba(34, 34, 34, 0.4);
  border-radius: 50%;
}
.t-circle-clicked {
  background-color: #222;
}

/*contact section*/

.contact {
  background-color: #28eea7;
  padding-bottom: 7rem;
}

.contact-main {
  display: flex;
  gap: 2rem;
  width: 75%;
  margin: 0 auto;
}
.contact-left_map {
  width: 80%;
  height: 25rem;
  margin: 0 auto;
}
.contact-left_map iframe {
  border-radius: 10px;
  margin-top: 2rem;
}
.contact-card_right,
.contact-card_left {
  background-color: #363738;
  border-radius: 10px;
  padding: 3rem;
}

.contact-card_right {
  width: 70%;
}
.contact-card_left {
  width: 30%;
}
.contact-card_header {
  color: #a5a6a9;
  font-size: 1.4rem;
  font-weight: 900;
}
.location-title {
  font-size: 1.4rem;
  color: #fcfcfd;
  font-weight: 700;
  margin-top: 12rem;
}
.location-details {
  color: #a5a6a9;
  font-size: 1.4rem;
  font-weight: 400;
}
.se-email {
  color: #28eea7;
  font-size: 2.2rem;
  font-weight: 900;
}
.form-row {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.contact-form {
  width: 100%;
  margin-top: 2rem;
}
.label {
  color: #fcfcfd;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.contact-input,
.form-textinput textarea {
  padding-left: 2rem;
  font-family: "Noto Sans Mono", sans-serif;
  color: #000;
  border: none;
}
.contact-input {
  width: 35rem;
  height: 4rem;
}
.contact-input:focus,
.form-textinput textarea:focus {
  border: 1px solid #31b7f0;

  outline: none;
}
.radio-row {
  margin-top: 2rem;
}
.rd {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex label {
  color: #fcfcfd;
  font-size: 1.4rem;
}
.radio-button {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.radio-button-clicked {
  border: 4px solid #31b7f0;
  box-shadow: 0 0 5px 1px #31b7f0;
}
.form-textinput {
  margin-top: 3rem;
  width: 100%;
  position: relative;
}
.form-textinput textarea {
  width: 100%;
  height: 10rem;
}
.form-submit_button {
  background-color: #28eea7;
  padding: 1rem 2rem;
  font-family: "Noto Sans Mono", sans-serif;
  font-weight: 700;
  color: #232323;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  position: absolute;
  right: 0;
  top: 100%;
}

/*partners section*/
.partner {
  width: 100%;
  padding-bottom: 4rem;
}

.partners-view {
  display: grid;
  width: 75%;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 5rem;
  justify-content: center;
}

/*newsletter section*/
.newsletter {
  background-color: #363738;
  padding-bottom: 7rem;
  width: 100%;
}
.newsletter-flex {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 7rem;
  justify-content: space-between;
}
.newsletter h3 {
  color: #fcfcfd;
  font-size: 2.2rem;
  font-weight: 900;
}
.newsletter h3 span {
  color: #28eea7;
}
.newsletter p {
  color: #a5a6a9;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.newsletter-input {
  width: 20rem;
  height: 4.5rem;
  padding-left: 1rem;
  font-family: "Noto Sans Mono", sans-serif;
  color: #232323;
  border: none;
}
.newsletter-input:focus {
  border: 1px solid #31b7f0;

  outline: none;
}
.newsletter-submit_btn {
  padding: 1.5rem 2rem;
  background-color: #000;
  text-transform: uppercase;
  cursor: pointer;
  color: #dcdee1;
  font-weight: 700;
  border: none;
  margin-left: -0.5rem;
}
/*footer section*/

.footer {
  background-color: #232323;
  padding-bottom: 7rem;
  padding-top: 7rem;
  width: 100%;
}
.footer-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-header {
  color: #dcdee1;
  font-size: 1.4rem;
  font-weight: 700;
}
.footer-nav-links_left a,
.footer-nav-links_right a,
.footer-home,
.footer-privacy {
  color: #a5a6a9;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}
.footer-nav-links_left a:hover,
.footer-nav-links_right a:hover,
.footer-home:hover,
.footer-privacy:hover {
  color: #fcfcfd;
}
.footer-nav-links {
  display: flex;
  gap: 5rem;
}
.footer-copyright {
  font-size: 1.2rem;
  color: #a5a6a9;
  margin-top: 7rem;
  white-space: nowrap;
}
.footer-logo {
  width: 10rem;
  margin-left: 10rem;
  margin-bottom: 4rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.footer-social-link {
  background-color: #a5a6a9;
  border-radius: 10px;
  padding: 0.5rem;
}
.footer-social-link:hover {
  background-color: #fcfcfd;
}
.footer-privacy {
  margin-top: 5rem;
  margin-left: 8rem;
}

/*faqs section*/
.faqs {
  background-color: #363738;
}
.h-faqs {
  color: #fcfcfd;
  font-size: 2.4rem;
  font-weight: 900;
}
.questions {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 7rem;
}
.question {
  padding-bottom: 2rem;
  line-height: 1.6;
}
.question-box {
  background-color: #232323;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #fcfcfd;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 800;
  cursor: pointer;
  position: relative;
}
.question-box::after {
  content: ">";
  position: absolute;
  transform: rotate(90deg);
  top: 2rem;
  right: 2.5rem;
  color: white;
  font-size: 2.4rem;
}
.answer-text {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.hide-answer {
  display: none;
}
.answer {
  animation: showslowly 0.1s ease-in;
}
.questions-more {
  background-color: #232323;
  text-align: right;
  font-size: 1.6rem;
  color: #fcfcfd;
  padding: 1.5rem;
  font-weight: 800;
}
.answer-list {
  margin-left: 3rem;
  margin-bottom: 3rem;
  font-weight: 400;
}
.answer-list span {
  font-weight: 800;
  color: #28eea7;
}
.questions-more_link {
  text-decoration: none;
}
.question span {
  color: #28eea7;
}
@media (max-width: 740px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-right,
  .footer-left {
    width: 100%;
  }
  .footer-logo {
    margin-top: 3rem;
  }
  .newsletter-text,
  .newletter-input {
    width: 100%;
    text-align: center;
  }
  .partners-view {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: 90%;
  }
  .section-intro {
    padding: 2rem;
  }
  .youtube-video {
    margin-top: 20rem;
  }
}
@media (max-width: 980px) {
  .newsletter-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }
  .contact-main {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .contact-card_left {
    width: 100%;
    text-align: center;
  }
  .contact-card_right {
    width: 100%;
    padding-bottom: 8rem;
  }

  .hero-main {
    flex-direction: column;
  }
  .youtube {
    margin-top: 23rem;
  }
}
@media (max-width: 1440px) {
  .contact-input {
    width: 100%;
    margin-left: 5rem;
  }
  .row-item .label {
    margin-left: 5rem;
  }
}
